<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.2/dist/leaflet.css"
            integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
            crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.3.2/dist/leaflet.js"
            integrity="sha512-2fA79E27MOeBgLjmBrtAgM/20clVSV8vJERaW/EcnnWCVGwQRazzKtQS1kIusCZv1PtaQxosDZZ0F1Oastl55w=="
            crossorigin=""></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <title>RioBus</title>
        <style>
                .terms-of-use-link {
                        display: none;
                }

                #mapid { height: 50%; }
        </style>
        <script type="text/javascript">
            var map;

            window.getLocation = function() {
                var x = document.getElementById("demo");
                if (navigator.geolocation) {
                    navigator.geolocation.watchPosition(showPosition);
                } else { 
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            };

            window.showPosition = function(position) {
                var x = document.getElementById("demo");
                x.innerHTML = "Latitude: " + position.coords.latitude + 
                "<br>Longitude: " + position.coords.longitude;
                var lat = parseFloat(position.coords.latitude);
                var lon = parseFloat(position.coords.longitude);
                L.marker([lat, lon]).addTo(map);
                $.ajax({
                        url: '{% url "printAjax" %}',
                        data: { u'gps': [lat, lon] },
                        dataType: 'json',
                        success: function (data) {
                            x.innerHTML += "success" + data.success;
                        }
                    });                
            };
            
            window.onload = function() {
                map = L.map('mapid').setView([-22.9539, -43.1736], 18)
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);
                getLocation()
                };
        </script>
    </head>
    <body>

        And the lack of any annoying <a href="#" onclick="_alert('I can still create alerts, but the Google Map can\'t.'); return false;">alert</a> popups complaining about the API key.<br >
        The map continues to function as normal:  <a href="#" onclick="randomMarkers(); return false;">add 10 random markers</a>  <br /><br />
        <div id="mapid"></div>
        location: <p id="demo">loading GPS...</p>
    </body>
</html>